################################################################################
# 이 .gitignore 파일은 Microsoft(R) Visual Studio에서 자동으로 만들어졌습니다.
################################################################################

/.vs/wpfstudy/v16/Browse.VC.db
/.vs/wpfstudy/v16/ipch/AutoPCH/58fb16fad8baaf40/ABSTRACTCLASS.ipch
/.vs/wpfstudy/v16/Browse.VC.opendb
